extends ../layout

block title
  = "Broadcasting" 

block content
  #broadcast(data-session-id=sessionId, data-api-key=apiKey, data-token=token)

  script(
    src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js",
    type="text/javascript"
  )

  script(type="text/javascript")
    $(document).ready(function() {
      var apiKey = $('#broadcast').attr('data-api-key');
      var sessionId = $('#broadcast').attr('data-session-id');
      var token = $('#broadcast').attr('data-token');
      var session = TB.initSession(sessionId);
      session.connect(apiKey, token);
      session.addEventListener('sessionConnected', sessionConnectedHandler);
      function sessionConnectedHandler(e) {
        session.publish('#broadcast');
      }
    });
